@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pune<br />
    <abbr title="Phone">P:</abbr>
    77xxxxxxx0
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    <strong>My Email Address:</strong> <a href="mailto:jay09.parekh@gmail.com">jay09.parekh@gmail.com</a>
</address>